# extensions
*.pyc
.ipynb_checkpoints

# folders
__pycache__
/.ipynb_checkpoints
/.vscode/
*local*
/data/raw
alumnivenv/
raw_data
auths.json
tmp
logs
results
# custom
todo.txt
log.txt
*.out
experience.csv
reheat_preheat_setpoint.txt
trend_data
sample_experience.csv
sample_log.txt
dashreq.txt
sorted.py