dash==1.13.4
gym==0.16.0
matplotlib==3.2.1
influxdb==5.3.0
plotly==4.8.2
swifter==0.301
dash_core_components==1.10.1
stable_baselines==2.10.0
tensorflow_gpu==1.14.0
pandas==1.0.1
scipy==1.4.1
dash_html_components==1.0.3
bdx==0.2.3
numpy==1.18.1
Keras==2.2.4
CoolProp==6.4.0
scikit_learn==0.23.1